// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons');

// Bootstrap
@import '~vuetify/dist/vuetify.min.css';

// Simple Markdown Editor
@import '~simplemde/dist/simplemde.min.css';

.v-toolbar__items a {
    display: flex;
}

.v-toolbar__items a>span {
    display: block;
    height: inherit;
    align-items: center;
    align-self: center;
}
