<template>
  <v-card>
    <v-form @submit.prevent="update">
      <v-card-title>
        <v-text-field v-model="form.title" type="text" label="Title" required></v-text-field>
      </v-card-title>
      <v-card-text>
        <markdown-editor v-model="form.body"></markdown-editor>
      </v-card-text>

      <v-card-actions>
        <v-btn icon small type="submit">
          <v-icon color="success">save</v-icon>
        </v-btn>
        <v-btn icon small @click="cancel">
          <v-icon color="warning">cancel</v-icon>
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
export default {
  props: ["data"],
  data() {
    return {
      form: {
        title: null,
        body: null
      }
    };
  },
  methods: {
    cancel() {
      EventBus.$emit("cancelEditing");
    },
    update() {
      axios
        .patch(`/api/question/${this.form.slug}`, this.form)
        .then(res => this.cancel());
    }
  },
  mounted() {
    this.form = this.data;
  }
};
</script>

<style>
</style>
