<template>
  <div class="text-xs-center">
    <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-btn icon v-on="on">
          <v-icon :color="color" class="mr-1">add_alert</v-icon>
          {{unreadCount}}
        </v-btn>
      </template>

      <v-list>
        <v-list-tile v-for="item in unread" :key="item.id">
          <router-link :to="item.path">
            <v-list-tile-title @click="readIt(item)">{{item.question}}</v-list-tile-title>
          </router-link>
        </v-list-tile>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  data() {
    return {
      read: {},
      unread: {},
      unreadCount: 0,
      sound:
        "https://notificationsounds.com/soundfiles/15de21c670ae7c3f6f3f1f37029303c9/file-sounds-1085-definite.mp3"
    };
  },
  created() {
    if (User.loggedIn()) {
      this.getNotifications();
    }

    Echo.private("App.User." + User.id()).notification(notification => {
      this.playSound();
      this.unread.unshift(notification);
      this.unreadCount++;
    });
  },
  methods: {
    playSound() {
      let alert = new Audio(this.sound);
      alert.play();
    },
    getNotifications() {
      axios
        .post("/api/notifications")
        .then(res => {
          this.read = res.data.read;
          this.unread = res.data.unread;
          this.unreadCount = res.data.unread.length;
        })
        .catch(error => Exception.handle(error));
    },
    readIt(notification) {
      axios.post("/api/markAsRead", { id: notification.id }).then(res => {
        this.unread.splice(notification, 1);
        this.read.push(notification);
        this.unreadCount--;
      });
    }
  },
  computed: {
    color() {
      return this.unreadCount ? "red" : "red lighten-4";
    }
  }
};
</script>

<style>
</style>
