<template>
  <v-parallax height="700" src="https://cdn.vuetifyjs.com/images/parallax/material2.jpg">
    <v-layout align-center column justify-center>
      <h1 class="display-4 font-weight-thin mb-3">Real SPA</h1>
      <h4 class="subheading">Real Time Single Page Forum</h4>
    </v-layout>
  </v-parallax>
</template>

<script>
export default {};
</script>

<style>
</style>
