<template>
  <v-toolbar dark color="primary">
    <v-toolbar-title>
      <router-link to="/" class="white--text">Icthus Solutions</router-link>
    </v-toolbar-title>

    <v-spacer></v-spacer>
    <app-notification v-if="loggedIn"></app-notification>
    <v-toolbar-items>
      <router-link v-for="item in items" :key="item.title" :to="item.to">
        <span v-if="item.show">
          <v-btn flat>{{ item.title }}</v-btn>
        </span>
      </router-link>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import AppNotification from "./AppNotification";

export default {
  data() {
    return {
      loggedIn: User.loggedIn(),
      items: [
        { title: "Forum", to: "/forum", show: true },
        { title: "Login", to: "/login", show: !User.loggedIn() },
        { title: "Ask Question", to: "/ask", show: User.loggedIn() },
        { title: "Category", to: "/category", show: User.admin() },
        { title: "Logout", to: "/logout", show: User.loggedIn() }
      ]
    };
  },
  components: { AppNotification },
  created() {
    EventBus.$on("logout", () => {
      User.logout();
    });
  }
};
</script>

<style>
</style>
