<template>
  <div class="mt-2">
    <v-card>
      <v-card-title>
        <div>
          <h3 class="body-2">
            {{ data.user }}
            <span class="grey--text subheading ml-1">said {{data.created_at}}</span>
          </h3>
        </div>
        <v-spacer></v-spacer>
        <like :content="data"></like>
      </v-card-title>
      <v-divider></v-divider>
      <edit-reply v-if="editing" :reply="data"></edit-reply>
      <v-card-text v-html="reply" v-else></v-card-text>
      <v-divider></v-divider>
      <div v-if="!editing">
        <v-card-actions v-if="own">
          <v-btn icon small @click="edit">
            <v-icon color="warning">edit</v-icon>
          </v-btn>
          <v-btn icon small>
            <v-icon color="error" @click="destroy">delete</v-icon>
          </v-btn>
        </v-card-actions>
      </div>
    </v-card>
  </div>
</template>

<script>
import EditReply from "./EditReply";
import Like from "../likes/Like";

export default {
  props: ["data", "index"],
  components: { EditReply, Like },
  data() {
    return {
      editing: false
    };
  },
  created() {
    this.listen();
  },
  computed: {
    own() {
      return User.own(this.data.user_id);
    },
    reply() {
      return md.parse(this.data.reply);
    }
  },
  methods: {
    destroy() {
      EventBus.$emit("deleteReply", this.index);
    },
    edit() {
      this.editing = true;
    },
    listen() {
      EventBus.$on("cancelEditing", () => {
        this.editing = false;
      });
    }
  }
};
</script>

<style>
</style>
